:root{
    --cor-fundo: hsl(208, 86%, 63%) ;
    --cor-principal: #5bb8f7 ;
    --cor-secundaria: #747686; 
    --cor-destaque: #7669cc;
    --cor-texto: #000000;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}